* {
  box-sizing: border-box;
}

body {
  background-image: url(../img/d5be4af56dbc9607b206f403cb832b0c.jpg);
  display: block;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  background: green;
  text-align: center;
  font-family: 'Press Start 2P', fantasy;
}

h2 {
  text-align: center;
  font-family: 'Press Start 2P', fantasy;
}
p {
  font-family: 'Press Start 2P', fantasy;
}

.container {
  display: flex;
  /* height: 100vh */
}

.sonic {
  width: 200px;
  height: 200px;
  left: -20%;
  position: fixed;
  animation: sonic 4s infinite linear ;
}

.ahmed {
  background-color: rgb(113, 179, 60);
  height: 275px;
  width: 275px;
  top: 43%;
  left: 70%;
  position: fixed;
  text-align: center;

}

.devin {
  background-color: grey;
  height: 275px;
  width: 275px;
  top: 23%;
  left: 30%;
  position: fixed;
  text-align: center;
}

.leoul {
  background-color: grey;
  height: 275px;
  width: 275px;
  top: 23%;
  left: 10%;
  position: fixed;
  text-align: center;
}

.noah {
  background-color: grey;
  height: 275px;
  width: 275px;
  top: 23%;
  left: 50%;
  position: fixed;
  text-align: center;

}

.caleb {
  background-color: grey;
  height: 275px;
  width: 275px;
  top: 63%;
  left: 30%;
  position: fixed;
  text-align: center;
}

.andrew {
  background-color: grey;
  height: 275px;
  width: 275px;
  top: 63%;
  left: 10%;
  position: fixed;
  text-align: center;
}

.alex {
  background-color: black;
  height: 275px;
  width: 275px;
  top: 63%;
  left: 50%;
  position: fixed;
  text-align: center;
  color: white;
}

@keyframes sonic
 {
   0% {
     left: -20%;
   }
   100% {
     left: 100%;
     }
}
@keyframes ian {
  0% {
    background-color: green;
  }
  100% {
    background-color: blue;
    }
}
