body {
  background-image: url("img/Comp_1.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  background-size: cover;
}
h1 {
  color: red;
  font-size: 72px;
  text-align: center;
}
a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  background-color: black;
}
ul {
  text-align: center;
}
p {

}
.common {
  font-family: fantasy;
  background: rgba(0, 0, 0, 5);
  border: 6px dotted yellow;
  padding: 1px;
  margin: 10px;
}
.list {
  font-family: sans-serif;
  background: rgba(0, 0, 0, 5);
  border: 5px dashed red;
  padding: 3px
}
