* {
  box-sizing: border-box;
}

body {
  display: block;
  margin: 8px;
  border: 4px;
  background-image: url("img/arcade_carpet_pattern_by_glimmeringclaymore_denmtxa-pre.png");
}

p {
  font-size: 20px;
  text-align: center;
  background: rgba(0, 0, 0, .75);
  color: Red;
  font-family: 'Press Start 2P', fantasy;
}
a {
  text-decoration: none;
  transition-property: color;
}
a:hover {
  color: white;
}

.arcade {
  position: absolute;
  width: 45% ;
  display: block;
  border: 4px dashed white;
  margin-left: 400px;
}
