* {
  box-sizing: border-box;
}

body {
  display: block;
  margin: 8px;
  border: 4px;
  background-image: url("img/arcade_carpet_pattern_by_glimmeringclaymore_denmtxa-pre.png");
}

a {
  font-size: 20px
  color: red;
  font-family: 'Press Start 2P', fantasy;
  text-decoration: none;
  transition-property: color
}
a.hover {
  color: white;
}

.arcade {
  position: absolute;
  width: 45% ;
  display: block;
  border: 4px dashed white;
  margin-left: 400px;
}
