* {
  box-sizing: border-box;
}

body {
  display: block;
  margin: 8px;
  border: 4px;
  background-image: url("img/arcade_carpet_pattern_by_glimmeringclaymore_denmtxa-pre.png");
}

img {
  max-width: 100%;
}

p {
  font-size: 20px;
    color: Red;
  font-family: 'Press Start 2P', fantasy;
}
a {
  text-decoration: none;
  color: white;
  transition-property: color;
}

a:hover {
  color: red;
}

.arcade {
  position: fixed;
  top: 10%;
  left: 30%;
  width: 550px;
  display: block;
  border: 4px dashed white;
}

@media screen and (max-width:800px){
  html {
  /* background: red; */
  }

  .arcade {
    position: fixed;
    top: 30%;
    left: 5%;
    width:90%;
  }


  .item {
    width: 100%;
  }
}
