body {
  background-image: url("../img/arcade_carpet_pattern_by_glimmeringclaymore_denmtxa-pre.png");
  background-color: black;
}

@font-face {
  font-family: retro;
  src:url("css2/fonts/deftone-webfont.woff");
}

h1 {
  text-align: center;
  color: yellow;
  font-size: 60px;
  font-family: 'Press Start 2P', fantasy;
}

h2 {
  text-align: center;
  font-size: 40px;
}

img {
  background-color: black;
  width: 365px;
}

.common {
  background: rgba(0, 0, 0, 0.5);
  border: 6px solid yellow;
  border-radius: 0%;
  padding: 10px;
  margin: 20px;
}
.pacman {
  text-align: center;
}
