* {
  box-sizing: border-box;
}

body {
  background: black;
}

img {
  max-width: 200%;
}

.grass {
  width: 35%;
  left: 0%;
  bottom: -22%;
  position: fixed;
  z-index: 2;
  ;
}

.grass2 {
  width: 36%;
  left: 70%;
  bottom: -22%;
  position: fixed;
  z-index: 2;
  /* transform: rotateY(180deg); */
}

.tree0 {
  left: -300px;
  top: -35%;
  position: fixed;
  z-index: 2;
  transform: rotateX(180deg);
}

.tree1 {
  left: 0px;
  top: -50%;
  position: fixed;
  z-index: 2;
  transform: rotateX(180deg);
}

.tree2 {
  left: 550px;
  top: -40%;
  position: fixed;
  z-index: 2;
  transform: rotateX(180deg);
  transform: rotateZ(180deg);
}

.tree3 {
  left: 1000px;
  top: -30%;
  position: fixed;
  z-index: 2;
  transform: rotateX(180deg)
}

.box {
  width: 50px;
  height: 560px;
  background: darkblue;
  top: 20%;
  left: 0%;
  position: fixed;
  border-radius: 20px;
  animation: slide 2s ease-in-out infinite alternate;
}

.box2 {
  width: 50px;
  height: 600px;
  background: darkblue;
  top: 15%;
  left: 10%;
  position: fixed;
  border-radius: 30px;
  animation: slide 2s ease-in-out infinite alternate;
}

.box3 {
  width: 50px;
  height: 560px;
  background: darkblue;
  top: 20%;
  left: 20%;
  position: fixed;
  border-radius: 20px;
  animation: slide 2s ease-in-out infinite alternate;
}

.box4 {
  width: 50px;
  height: 600px;
  background: darkblue;
  top: 15%;
  left: 30%;
  position: fixed;
  border-radius: 30px;
  animation: slide 2s ease-in-out infinite alternate;
}

.box5 {
  width: 50px;
  height: 560px;
  background: darkblue;
  top: 20%;
  left: 40%;
  position: fixed;
  border-radius: 30px;
  animation: slide 2s ease-in-out infinite alternate;
}

.box6 {
  width: 50px;
  height: 600px;
  background: darkblue;
  top: 15%;
  left: 50%;
  position: fixed;
  border-radius: 30px;
  animation: slide 2s ease-in-out infinite alternate;
}

.box7 {
  width: 50px;
  height: 560px;
  background: darkblue;
  top: 20%;
  left: 60%;
  position: fixed;
  border-radius: 30px;
  animation: slide 2s ease-in-out infinite alternate;
}

.box8 {
  width: 50px;
  height: 600px;
  background: darkblue;
  top: 15%;
  left: 70%;
  position: fixed;
  border-radius: 30px;
  animation: slide 2s ease-in-out infinite alternate;
}

.box9 {
  width: 50px;
  height: 560px;
  background: darkblue;
  top: 20%;
  left: 80%;
  position: fixed;
  border-radius: 30px;
  animation: slide 2s ease-in-out infinite alternate;
}

.box10 {
  width: 50px;
  height: 600px;
  background: darkblue;
  top: 15%;
  left: 90%;
  position: fixed;
  border-radius: 30px;
  animation: slide 2s ease-in-out infinite alternate;
}

.box11 {
  width: 50px;
  height: 560px;
  background: darkblue;
  top: 20%;
  left: 100%;
  position: fixed;
  border-radius: 30px;
  animation: slide 2s ease-in-out infinite alternate;
}

.box12 {
  width: 50px;
  height: 600px;
  background: darkblue;
  top: 15%;
  left: 110%;
  position: fixed;
  border-radius: 30px;
  animation: slide 2s ease-in-out infinite alternate;
  animation: sunset 5s ease infinite alternate
}

@keyframes slide {
  0% {
    background: orange;
    transform: translateX(100px);
  }

  100% {
    background: darkblue transform: translateX(-1000px);
  }
}

/* @keyframes sunset {
  0% {
    background: lightblue;
  }
  25% {
    background: orange;
  }
  50% {
    background: red;
  }
  75% {
    background: purple;
  }
  100% {
    background: darkblue
  }
} */
