img {
  max-width: 100%;
}

@font-face {
  font-family: retro;
  src:url("fonts/deftone-webfont.woff");
}

p {
  font-size: 36px;
  color: green;
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
  text-align: justify;
  font-family: 'Press Start 2P', fantasy;
}
h1{
  font-size: 100px;
  font-weight: lighter;
  font-family: retro
}
